.resy-form {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

input {
    height: 80%;
    width: 15%;
}

.form-button {
    height: 100%;
    width: 15%;
}